<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h>data will be here</h>
  <table border="1">
    <tr>
    <td>name</td>
    <td>age</td>
    <td>email</td>
    </tr>

    <% students.forEach(student => { %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>
      </tr>
    <% }); %>

    <tr>
      <td>sweety</td>
      <td>20</td>
      <td>sweety@example.com</td>
    </tr>
    
  </table>
  
</body>
</html>