<!DOCTYPE html>
<html>
<head>
  <title>Users1 Page</title>
</head>
<body>

  <h1>
    <% for (let i = 0; i < users.length; i++) { %>
      <p><%= users[i] %></p>
    <% } %>
  </h1>
  
  

</body>
</html>